/.metadata
/.recommenders
/RemoteSystemsTempFiles
/LearnSpringBoot/target
/LearnSpringBoot/.settings
/SpringBootWithDatabase/.settings
/SpringBootWithDatabase/target
/SpringBootWithDatabase/derby.log
/SpringBootWithMongoDb/target
/SpringBootWithMongoDb/.settings
/SpringBootWithMongoDb/.mvn
/SpringBootWithMongoDb/mvnw
/SpringBootWithMongoDb/mvnw.bat